<div class="container-fluid text center">
	<p>traducción</p>
	<h1>Hi ra ga na</h1>
	<h3>hi____</h3>
	<button type="button" class="btn btn-warning btn-lg">Calificar</button>
	<button type="button" class="btn btn-danger">Cancelar</button>
	<button type="button" class="btn btn-success">Seguir</button>
</div>