<p>(Index)</p>
<h1>Hello! こんにちは!</h1>
<p>Do you want to practice your hiragana? Let's start!</p>
<%= button_to "Start", new_translation_path, :class => "btn btn-primary btn-lg", :method => :get  %>


